.product-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 1rem;
  margin-inline: 5rem;
}

.product-container {
  display: flex;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
  border: 2px solid gray;
}

.product-container:hover {
  transform: translateY(-0.5rem);
  box-shadow: var(--box-shadow-hover);
}

.product-image-container {
  position: relative;
  width: 100%;
  height: 20rem;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  border: 2px solid gray;
  transition: filter 0.3s ease;
  padding: 0.2rem;
}

.product-image-container:hover img {
  filter: blur(1px);
  transform: scale(1.025);
}

.quick-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.product-image-container:hover .quick-view {
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quantity-remaining {
  height: 1rem;
  margin: 0.75rem 0;
}

.hot-buy {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
}

.blink-text {
  animation: blink 1s linear infinite;
  text-decoration: underline;
}

.album-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 0 0 0.5rem 0.5rem;
}

.cost-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.5rem;
}

.record-price {
  font-weight: bold;
  font-size: 1.1rem;
}

.product-layout {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.pagination-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-inline: 10rem;
}

@media (max-width: 1200px) {
  .product-list-container {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 3rem;
  }
}

@media (max-width: 992px) {
  .product-list-container {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 2rem;
  }

  .product-image-container {
    height: 18rem;
  }

  .pagination-div {
    margin-inline: 5rem;
  }
}

@media (max-width: 768px) {
  .product-list-container {
    grid-template-columns: 1fr;
    margin-inline: 1rem;
  }

  .product-container {
    padding: 0.5rem;
    margin-top: 2rem;
  }

  .product-image-container {
    height: 16rem;
  }

  .pagination-div {
    margin-inline: 2rem;
  }
}

@media (max-width: 480px) {
  .product-image-container {
    height: 14rem;
  }

  .cost-and-button {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .pagination-div {
    margin-inline: 1rem;
  }
}