.dSMCWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 160px;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 480px) {
  .dSMCWrapper {
    width: 118vh;
  }
}
