.wrapperOfGenreText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genreTextContainer {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 1200px;
  gap: 40px;
  background-image: linear-gradient(to right, white, rgb(17, 16, 16));
}

.genreText {
  font-size: 3em;
  color: #131212;
  font-weight: bold;
}
.testimonialsTextSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .genreTextContainer {
    width: 800px;
  }
  .genreText {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .testimonialsTextSection {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 118vh;
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .genreTextContainer {
    width: 118vh;
  }
  .genreText {
    font-size: 1.5em;
  }
}
