.group-1000005951,
.group-1000005951 * {
  box-sizing: border-box;
}
.group-1000005951 {
  height: 109px;
  position: relative;
}
.group-1000005951 .today-s {
  color: radial-gradient(
    closest-side,
    rgba(219, 68, 68, 1) 35%,
    rgba(117, 36, 36, 1) 100%
  );
  text-align: left;
  font-family: var(
    --title-16px-semibold-font-family,
    "Poppins-SemiBold",
    sans-serif
  );
  font-size: var(--title-16px-semibold-font-size, 16px);
  line-height: var(--title-16px-semibold-line-height, 20px);
  font-weight: var(--title-16px-semibold-font-weight, 600);
  position: absolute;
  left: 255px;
  top: 10px;
  padding-top: 10px;
}
.group-1000005951 .flash-sales {
  color: #000000;
  text-align: left;
  font-family: var(
    --heading-36px-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-36px-semibold-font-size, 36px);
  line-height: var(--heading-36px-semibold-line-height, 48px);
  letter-spacing: var(--heading-36px-semibold-letter-spacing, 0.04em);
  font-weight: var(--heading-36px-semibold-font-weight, 600);
  position: absolute;
  left: 250px;
  top: 61px;
}
.group-1000005951 .group-1000005936 {
  width: 356px;
  height: 50px;
  position: static;
}
.group-1000005951 .frame-580 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 54.23px;
  height: 50px;
  position: absolute;
  left: calc(35% - 28.5px);
  top: calc(50% - 3.5px);
}
.group-1000005951 .days {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-12px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-12px-medium-font-size, 12px);
  line-height: var(--title-12px-medium-line-height, 18px);
  font-weight: var(--title-12px-medium-font-weight, 500);
  position: relative;
  width: 31px;
}
.group-1000005951 ._03 {
  color: #000000;
  text-align: left;
  font-family: var(--heading-32px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-32px-bold-font-size, 32px);
  line-height: var(--heading-32px-bold-line-height, 30px);
  letter-spacing: var(--heading-32px-bold-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-bold-font-weight, 700);
  position: relative;
  width: 46px;
  height: 28px;
}
.group-1000005951 .frame-581 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 49.51px;
  height: 50px;
  position: absolute;
  left: calc(35% - -70.52px);
  top: calc(50% - 3.5px);
}
.group-1000005951 .hours {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-12px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-12px-medium-font-size, 12px);
  line-height: var(--title-12px-medium-line-height, 18px);
  font-weight: var(--title-12px-medium-font-weight, 500);
  position: relative;
  width: 35px;
}
.group-1000005951 ._23 {
  color: #000000;
  text-align: left;
  font-family: var(--heading-32px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-32px-bold-font-size, 32px);
  line-height: var(--heading-32px-bold-line-height, 30px);
  letter-spacing: var(--heading-32px-bold-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-bold-font-weight, 700);
  position: relative;
}
.group-1000005951 .frame-582 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 57.76px;
  height: 50px;
  position: absolute;
  left: calc(35% - -164.82px);
  top: calc(50% - 3.5px);
}
.group-1000005951 .minutes {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-12px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-12px-medium-font-size, 12px);
  line-height: var(--title-12px-medium-line-height, 18px);
  font-weight: var(--title-12px-medium-font-weight, 500);
  position: relative;
  width: 49px;
}
.group-1000005951 ._19 {
  color: #000000;
  text-align: left;
  font-family: var(--heading-32px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-32px-bold-font-size, 32px);
  line-height: var(--heading-32px-bold-line-height, 30px);
  letter-spacing: var(--heading-32px-bold-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-bold-font-weight, 700);
  position: relative;
  width: 39px;
  height: 28px;
}
.group-1000005951 .frame-583 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60.12px;
  height: 50px;
  position: absolute;
  left: calc(35% - -267.38px);
  top: calc(50% - 3.5px);
}
.group-1000005951 .seconds {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-12px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-12px-medium-font-size, 12px);
  line-height: var(--title-12px-medium-line-height, 18px);
  font-weight: var(--title-12px-medium-font-weight, 500);
  position: relative;
  width: 52px;
}
.group-1000005951 ._56 {
  color: #000000;
  text-align: left;
  font-family: var(--heading-32px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-32px-bold-font-size, 32px);
  line-height: var(--heading-32px-bold-line-height, 30px);
  letter-spacing: var(--heading-32px-bold-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-bold-font-weight, 700);
  position: relative;
}
.group-1000005951 .semiclone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 4.72px;
  position: absolute;
  left: 373.26px;
  top: 77px;
}
.group-1000005951 .ellipse-17 {
  background: var(--hover-button, #e07575);
  border-radius: 50%;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
}
.group-1000005951 .ellipse-18 {
  background: var(--hover-button, #e07575);
  border-radius: 50%;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
}
.group-1000005951 .semiclone2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 4.72px;
  position: absolute;
  left: 467.57px;
  top: 77px;
}
.group-1000005951 .semiclone3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 4.72px;
  position: absolute;
  left: 570.13px;
  top: 77px;
}
