header {
  color: var(--color-darkest);
  position: sticky;
  top: 0;
  left: 0;
}

.sale-popup {
  background-color: black;
  opacity: 0.6;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-popup-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping-icon {
  font-size: 1.25rem;
}

.underline {
  text-decoration: underline;
}

header h2 {
  letter-spacing: 0.25rem;
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}

.title-section {
  background-image: url(../../Assets/HeaderImage.jpg);
  background-position-y: 35%;
  background-size: cover;
  color: #ffad33;
  height: 24rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  top: 0;
  left: 0;
  font-family: Poppins, sans-serif;
}

.cart-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 3rem;
}
