header {
  color: var(--color-darkest);
  z-index: 1000;
}

.sale-popup {
  background-color: black;
  opacity: 0.8;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sale-popup-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping-icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.underline {
  text-decoration: underline;
}

header h2 {
  letter-spacing: 0.25rem;
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  margin: 0;
  color: #ffad33;
}

header h2:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

.title-section {
  background-image: url(../../Assets/HeaderImage.jpg);
  background-position: center;
  background-size: cover;
  color: #ffad33;
  height: 24rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.left-side {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .title-section {
    height: 18rem;
    padding: 1rem 2rem;
  }
}
