/*  1. Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
} /*  2. Remove default margin*/
* {
  margin: 0;
} /*  Typographic tweaks!  3. Add accessible line-height  4. Improve text rendering*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
} /*  5. Improve media defaults*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} /*  6. Remove built-in form typography styles*/
input,
button,
textarea,
select {
  font: inherit;
} /*  7. Avoid text overflows*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} /*  8. Create a root stacking context*/
#root,
#__next {
  isolation: isolate;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: calc(2rem + 4rem + 2.5rem);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS Variables to be used throughout the project. This is to increase consistency and reduce redundancy in writing the same line again and again */
/* To implement, reference these as color: var(--my-variable) */
:root {
  --color-darkest: #0d1b2a;
  --color-dark: #1b263b;
  --color-medium: #415a77;
  --color-light: #778da9;
  --color-lightest: #e0e1dd;
  --border-radius: 4px;
  --box-shadow: 3px 3px 1.5px 1.5px rgba(46, 46, 46, 0.65);
  --box-shadow-hover: 3px 3px 1.5px 1.5px rgba(46, 46, 46, 0.85);

  /* These are copied from an old project - we can use them if they come up! */
  /* --transition-speed: 0.1s;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
}

/* CART PAGE CSS */
.main-content {
  max-width: 100%;
  margin-top: 4rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
}

.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
}
