/* CarouselComponent.css */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.carousel-slide {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.arrow.next {
  right: 10px;
}

.arrow.prev {
  left: 10px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
}
button {
  border: none;
  padding: 0;
  background: none;
}

button img {
  display: block;
  border: none;
}

.buttonRightPointing {
  margin-left: 280px;
  margin-bottom: 20px;
}
.Slide2Button {
  margin-left: 445px;
}
.Slide3Button {
  margin-left: 888px;
}
