.cart-button {
  background: radial-gradient(circle, #db4444 10%, #a83434 50%, #752424 100%);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 6rem;
  transition: transform 0.1s ease-in-out;
}

.cart-button span {
  font-weight: bold;
}

.cart-icon {
  width: 50%;
}

.cart-button:hover {
  transform: scale(1.1);
}
